@import url(https://fonts.googleapis.com/css?family=Dosis);
body {
	background-color: black;
	text-align: center;
	background-image: url(pattern.png);
	background-size: 30em;
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	color:white;
}
.logo {
	margin-top: 10em;
}
@media (max-width: 800px) {
	.logo img {
		width: 15em;
	}
}
.arrow img {
	margin-top: 5em;
	width: 4em;
}
/**
.menu {
	position: relative;
	top:40em;
	width: 40em;
	margin:0 auto;
	color: white;
}
.menu a {
	color:white;
	text-decoration: none;
	margin-left: 0.2em;
	margin-right: 0.2em;
}
**/
.historia {
	width: 100%;
	margin:0 auto;
	position: relative;
	top: 20em;
}
.historia-title {
	position: relative;
	top: 18em;
	width: 10em;
	margin: 0 auto;
}
.historia-title img {
	width: 10em;
}
.historia img {
	margin-left: 10%;
	width: 40%;
	float:left;
}
.historia p {
	margin-right: 10%;
	width: 40%;
	float: left;
}
.member {
	width: 100%;
	position: relative;
	top: 40em;
	float: left;
	text-align: center;
}
.miembros-title {
	position: relative;
	top: 38em;
	width: 10em;
	margin: 0 auto;
}
.miembros-title img {
	width: 10em;
}
.member img {
	width: 33%;
}
.member-text {
	width: 100%;
	position: relative;
	top: 40em;
	float: left;
	text-align: center;
}
.member-text p {
	width: 33%;
	float: left;
}
.member-text a {
	color:white;
	text-decoration: none;
}
.gallery {
	position: relative;
	top:60em;
	width: 100%;
	float: left;
}
.galeria-title {
	position: relative;
	top: 58em;
	width: 10em;
	margin: 0 auto;
}
.galeria-title img {
	width: 8em;
}
.gallery img {
	width: 33%
}
.gallery img:hover {
	opacity: 0.3;
}
.videos {
	position: relative;
	top:80em;
	width: 100%;
	float: left;
}
.videos-title {
	position: relative;
	top:78em;
	width: 10em;
	margin: 0 auto
}
.videos-title img {
	width: 8em;
}
.videos iframe {
	width: 33%;
}
.videos iframe:hover {
	opacity: 0.3;
}
.gira-title {
	position: relative;
	top:98em;
	width: 10em;
	margin: 0 auto;
}
.gira-title img {
	width: 6em;
}
.gira {
	position: relative;
	top: 100em;
	width: 100%;
	text-align: center;
}
.gira p {
	text-align: center;
	font-size: 30px;
}
.contacto-title {
	position: relative;
	top:118em;
	width: 20em;
	margin: 0 auto;
}
.contacto-title img {
	width: 15em;
}
.contacto {
	position: relative;
	top:120em;
	width: 100%;
	margin: 0 auto;
}
.contacto img {
	width: 5em;
}
.rights {
	position: relative;
	top: 140em;
	width: 50%;
	margin: 0 auto;
}
.rights p {
	width: 30em;
	margin: 0 auto;
	color:white;
}
